.breadcrumb
    font-weight 900
    font-size 10px
    text-transform uppercase
    letter-spacing 0.095em
    +above(xl)
        font-size 12px
    &__list
        list-style-type none
        margin 0
    &__item
        display inline
    &__slash
        padding-left 4px
        color #5DA1C0
    &__span
        color #5DA1C0
    &__link
        color #BAF5E0