.loader
    display none
    position fixed
    left 0px
    right 0px
    top 0px
    bottom 0px
    z-index 10000
    background rgba(0,0,0,.5)
    &__text
        position absolute
        left 50%
        top 50%
        width 350px
        height 35px
        margin-left -175px
        margin-top -18px
        text-align center
        font-family _fonts.muller.name, sans-serif
        font-size 24px
        line-height 1em
        letter-spacing 0.3em
        font-weight 700
        +above(sm)
            font-size 36px
        &-string
            color #FF7A7A
            &:before
                content ''
                display inline
                animation loader-text 3s ease-in-out infinite alternate
        &-cursor
            color #303030
            animation loader-cursor 1s linear infinite
            letter-spacing 0em
    
@keyframes loader-text
    0%
        content ''
    20%
        content 'L'
    25%
        content 'LO'
    35%
        content 'LOA'
    40%
        content 'LOAD'
    45%
        content 'LOADI'
    55%
        content 'LOADIN'
    65%
        content 'LOADING'
    70%
        content 'LOADING.'
    75%
        content 'LOADING..'
    80%
        content 'LOADING...'
    100%
        content 'LOADING...'

@keyframes loader-cursor
    0%
        opacity 0
    1%
        opacity 1
    60%
        opacity 1
    61%
        opacity 0
    100%
        opacity 0
