input,
textarea
    padding 9px 15px
    border 1px solid #B1B1B1
    width 100%
    +above(lg)
        padding 15px
        max-width 571px
        display block

textarea
    height 150px

.checkbox
    position absolute
    top 0
    left 0
    size 20px
    border 1px solid #CFCFCF
    background #fff
    &:after
        content ''
        position absolute
        display none
    &_label
        padding-left 30px
        position relative
        cursor pointer
        user-select none
        input
            position absolute
            opacity 0
            cursor pointer
            width 0!important
            height 0!important
        .checkbox:after
            top 4px
            left 4px
            margin auto
            size 10px 10px
            background _color.bg.button.default
        input:checked ~ .checkbox
            box-shadow inset 1px 1px 3px rgba(0,0,0,0.1)
        input:checked ~ .checkbox:after
            display block

.radio
    position absolute
    top 0
    left 0
    size 20px
    border-radius 50%
    border 1px solid #CFCFCF
    background #fff
    &:after
        content ''
        position absolute
        display none
    &_label
        padding-left 30px
        position relative
        cursor pointer
        user-select none
        input
            position absolute
            opacity 0
            cursor pointer
            width 0!important
            height 0!important
        .radio:after
            top 4px
            left 4px
            margin auto
            background _color.bg.button.default
            size 10px
            border-radius 50%
        input:checked ~ .radio
            box-shadow inset 2px 2px 4px rgba(0,0,0,0.2)
        input:checked ~ .radio:after
            display block