a
    cursor pointer
    text-decoration none

.link
    cursor pointer
    color: _color.font.link.default
    &:hover
        color: _color.font.link.hover
    &:active
        color: _color.font.link.active