.ul
    list-style-type none
    > li
        position relative
        margin 1em 0
        &:before
            content ''
            border-radius 50%
            position absolute
            top 7px
            left -17px
            size 7px
            background-color #F55757