table
    border-collapse collapse
    width 100%
    th
        padding-y 5px
    td
        padding-y 15px
        padding-right 10px
    thead
        border-bottom 5px solid black
        text-align left
    tbody
        border-bottom 1px solid black
        tr
            border-bottom 1px solid #D4D4D4
            &:last-child
                border-bottom 1px solid black